body {
  background-color: #e6e6e6;
  font-family: 'Montserrat', sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 86vh;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.menu{
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 100%;
  width: 20%;
  font-size: 20px;
  color: gray;
  text-align: center;
  margin-top: 3%;
  margin-left: 2%;
}

.button_menu{
  height: 100%;
  background-color: transparent;
  color: gray;
}

ul{
  display: flex;
  align-items: center;
  margin-top: 4%;
  padding: 4%;
}
li{
  margin: 0 5%;
}

.button{
  font-size: 18px;
  color: grey;
  text-align: center;
  text-decoration: none;
}

.left{
  height: 70%;
  width: 40%;
 background-color: blue;
 justify-content: flex-start;
display: flex;
}
