body {
  background-color: #e6e6e6;
  font-family: 'Montserrat', sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 86vh;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.menu{
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 100%;
  width: 20%;
  font-size: 20px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.button_menu{
  height: 100%;
  background-color: transparent;
  color: gray;
}

ul{
  display: flex;
  align-items: center;
  margin-top: 4%;
  padding: 4%;
}
li{
  margin: 0 30px;
}

.button{
  font-size: 18px;
  color: grey;
  text-align: center;
  text-decoration: none;
}

.undermenu{
  height: 70%;
  display: flex;
}

.left{
  height: 100%;
  width: 35%;
  background-color: pink;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text{
text-align: center;
font-size: 24px;
font-weight: bold;
color: black;
}

.text1{
text-align: center;
font-size: 16px;
color: #595959;
}

.text2{
text-align: center;
font-size: 16px;
color: #595959;
}

.right{
  height: 100%;
  width: 65%;
  background-color: yellow;
  align-items: center;
  display: flex;
}
